<section>
<%= image_tag "khanom.webp", size: "1024x768", alt: "ขนมลอดช่อง ลอดช่องใบเตยอร่อยที่สุดในฝาง", srcset: "/khanom_small.webp 338w, /khanom.webp 1024w", sizes: "100vw" %>
</section>

<section>
  <h1>ขนมลอดช่อง ฝาง</h1>
  <p>ลอดช่องใบเตยอร่อยที่สุดในฝางรับสั่งทำพ้รอมน้ำกะทิบริการส่งถึงที่ใบเตยออแกนิค</p>
  <%= image_tag "phone.png", size: "48x48", layout: "responsive", alt: "PhoneMe" %>
  <h2>0810321522</h2>
</section>

<section>
  <p>
   2/2หมู่8 ต.สันทราย <br>
   อ.ฝาง <br>
   จ.เชียงใหม่ 50110 <br>
  </p>
</section>
